USE [master]
GO
/****** Object:  Database [SWP391_FinalPrjDB]    Script Date: 18/01/2024 09:53:44 ******/
CREATE DATABASE [SWP391_FinalPrjDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391_FinalPrjDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUYQUY\MSSQL\DATA\SWP391_FinalPrjDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_FinalPrjDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUYQUY\MSSQL\DATA\SWP391_FinalPrjDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391_FinalPrjDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391_FinalPrjDB]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18/01/2024 09:53:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [char](50) NOT NULL,
	[password] [char](50) NOT NULL,
	[email] [char](100) NOT NULL,
	[phone] [char](20) NULL,
	[fullname] [char](50) NULL,
	[address] [text] NULL,
	[role] [tinyint] NOT NULL,
	[shop_description] [text] NULL,
	[shop_reported_count] [tinyint] NOT NULL,
	[shop_name] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [phone], [fullname], [address], [role], [shop_description], [shop_reported_count], [shop_name]) VALUES (1, N'Q                                                 ', N'1                                                 ', N'q@gmail.com                                                                                         ', N'0123456789          ', N'Q                                                 ', N'ABC Street', 1, NULL, 0, NULL)
INSERT [dbo].[users] ([id], [username], [password], [email], [phone], [fullname], [address], [role], [shop_description], [shop_reported_count], [shop_name]) VALUES (7, N'Qa                                                ', N'1                                                 ', N'qa@gmail.com                                                                                        ', NULL, NULL, NULL, 1, NULL, 0, NULL)
INSERT [dbo].[users] ([id], [username], [password], [email], [phone], [fullname], [address], [role], [shop_description], [shop_reported_count], [shop_name]) VALUES (8, N'aa                                                ', N'1                                                 ', N'QuyAA@gmail.com                                                                                     ', NULL, NULL, NULL, 1, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616466CED5A0]    Script Date: 18/01/2024 09:53:45 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572ADCC116E]    Script Date: 18/01/2024 09:53:45 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__B43B145F1A1440E5]    Script Date: 18/01/2024 09:53:45 ******/
CREATE NONCLUSTERED INDEX [UQ__users__B43B145F1A1440E5] ON [dbo].[users]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
